@import url(./assets/fonts/style.css);

* {
  outline: none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body,
#root {
  font-family: "Epilogue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
  font-family: "Epilogue", sans-serif;
  overflow: hidden;
  transition: all ease 0.33ms;
}

.app-content {
  //darkTheme.borderColor
  background-image: url(./assets/images/main-bg.png);
  background-size: cover;
  overflow: visible !important;
  &__container {
    margin-top: 100px !important;
    height: calc(100% - 100px);
    overflow: auto;
  }
}

.mobile {
  header {
    height: 56px;
  }
  .app-content {
    &__container {
      margin-top: 60px !important;
      height: calc(100% - 100px);
      overflow: auto;
    }
  }
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}
.page-header {
  text-align: left !important;
  display: block;
  width: 97% !important;
  max-width: 833px;
  margin-bottom: 1rem;
  h3 {
    font-weight: 800;
  }
  p {
    color: #fff;
  }
}
.logo {
  h3 {
    font-family: Monument Extended !important;
    font-weight: 400 !important;
  }
}

.ohm-card {
  max-width: 833px;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(6px);
  }
  .card-header {
    width: 100%;
    min-height: 33px;
    margin-bottom: 10px;
  }

  .help-text {
    margin: 10px 0px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
  }

  .data-row-centered {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 12px 0px;
    .marginedBtn {
      margin: 0.3rem;
    }
  }
}

.ohm-pairs {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}
